
// My customs files right here
$primary: #fda902; //light
$secondary: #ee751c; // dark
$wit: #fff;
$sourC: rgb(157, 200, 0);
$sweetC: rgb(255, 181, 14);


@import "../../node_modules/bootstrap/scss/bootstrap.scss" ;
