@use '../custom' as *;

$sourc: #9dc800;
$sweetc: #ffb50e;


.btn-sourc {
    background-color: $sourc;
    color: #fff; // Adjust as needed for contrast
}

.btn-sweetc {
    background-color: $sweetc;
    color: #fff; // Adjust as needed for contrast
}

.text-sourc {
    color: $sourc;
}

.text-sweetc {
    color: $sweetc;
}

.about-title{
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .about-container {
        // border: 2px hsl(60, 5%, 70%) solid;
        border-radius: 10px;
        height: 100%;
    }
}

.about-paragraph {
    padding: 20px;
}

@media (min-width: 992px) {

}