$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

// Mixin for breakpoints
@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
      @media (max-width: $small) {
        @content;
      }
    }
    @if $breakpoint == medium {
      @media (max-width: $medium) {
        @content;
      }
    }
    @if $breakpoint == large {
      @media (max-width: $large) {
        @content;
      }
    }
    @if $breakpoint == extra-large {
      @media (max-width: $extra-large) {
        @content;
      }
    }
  }
  